<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoyling.mapper.ContentsMapper">
  <resultMap id="BaseResultMap" type="com.yoyling.domain.Contents">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
    <result column="created" jdbcType="VARCHAR" property="created" />
    <result column="modified" jdbcType="VARCHAR" property="modified" />
    <result column="contents_order" jdbcType="INTEGER" property="contentsOrder" />
    <result column="authorId" jdbcType="INTEGER" property="authorid" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="contents_status" jdbcType="VARCHAR" property="contentsStatus" />
    <result column="contents_password" jdbcType="VARCHAR" property="contentsPassword" />
    <result column="allowComment" jdbcType="CHAR" property="allowcomment" />
    <result column="views" jdbcType="INTEGER" property="views" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yoyling.domain.Contents">
    <result column="contents_text" jdbcType="LONGVARCHAR" property="contentsText" />
    <result column="thumb" jdbcType="LONGVARCHAR" property="thumb" />
  </resultMap>
  <sql id="Base_Column_List">
    cid, title, slug, created, modified, contents_order, authorId, type, contents_status, 
    contents_password, allowComment, views
  </sql>
  <sql id="Blob_Column_List">
    contents_text, thumb
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from contents
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from contents
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yoyling.domain.Contents">
    insert into contents (cid, title, slug, 
      created, modified, contents_order, 
      authorId, type, contents_status, 
      contents_password, allowComment, views, 
      contents_text, thumb)
    values (#{cid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{slug,jdbcType=VARCHAR}, 
      #{created,jdbcType=VARCHAR}, #{modified,jdbcType=VARCHAR}, #{contentsOrder,jdbcType=INTEGER}, 
      #{authorid,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{contentsStatus,jdbcType=VARCHAR}, 
      #{contentsPassword,jdbcType=VARCHAR}, #{allowcomment,jdbcType=CHAR}, #{views,jdbcType=INTEGER}, 
      #{contentsText,jdbcType=LONGVARCHAR}, #{thumb,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yoyling.domain.Contents">
    insert into contents
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="slug != null">
        slug,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="modified != null">
        modified,
      </if>
      <if test="contentsOrder != null">
        contents_order,
      </if>
      <if test="authorid != null">
        authorId,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="contentsStatus != null">
        contents_status,
      </if>
      <if test="contentsPassword != null">
        contents_password,
      </if>
      <if test="allowcomment != null">
        allowComment,
      </if>
      <if test="views != null">
        views,
      </if>
      <if test="contentsText != null">
        contents_text,
      </if>
      <if test="thumb != null">
        thumb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="slug != null">
        #{slug,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=VARCHAR},
      </if>
      <if test="modified != null">
        #{modified,jdbcType=VARCHAR},
      </if>
      <if test="contentsOrder != null">
        #{contentsOrder,jdbcType=INTEGER},
      </if>
      <if test="authorid != null">
        #{authorid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="contentsStatus != null">
        #{contentsStatus,jdbcType=VARCHAR},
      </if>
      <if test="contentsPassword != null">
        #{contentsPassword,jdbcType=VARCHAR},
      </if>
      <if test="allowcomment != null">
        #{allowcomment,jdbcType=CHAR},
      </if>
      <if test="views != null">
        #{views,jdbcType=INTEGER},
      </if>
      <if test="contentsText != null">
        #{contentsText,jdbcType=LONGVARCHAR},
      </if>
      <if test="thumb != null">
        #{thumb,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yoyling.domain.Contents">
    update contents
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="slug != null">
        slug = #{slug,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=VARCHAR},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=VARCHAR},
      </if>
      <if test="contentsOrder != null">
        contents_order = #{contentsOrder,jdbcType=INTEGER},
      </if>
      <if test="authorid != null">
        authorId = #{authorid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="contentsStatus != null">
        contents_status = #{contentsStatus,jdbcType=VARCHAR},
      </if>
      <if test="contentsPassword != null">
        contents_password = #{contentsPassword,jdbcType=VARCHAR},
      </if>
      <if test="allowcomment != null">
        allowComment = #{allowcomment,jdbcType=CHAR},
      </if>
      <if test="views != null">
        views = #{views,jdbcType=INTEGER},
      </if>
      <if test="contentsText != null">
        contents_text = #{contentsText,jdbcType=LONGVARCHAR},
      </if>
      <if test="thumb != null">
        thumb = #{thumb,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yoyling.domain.Contents">
    update contents
    set title = #{title,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      created = #{created,jdbcType=VARCHAR},
      modified = #{modified,jdbcType=VARCHAR},
      contents_order = #{contentsOrder,jdbcType=INTEGER},
      authorId = #{authorid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      contents_status = #{contentsStatus,jdbcType=VARCHAR},
      contents_password = #{contentsPassword,jdbcType=VARCHAR},
      allowComment = #{allowcomment,jdbcType=CHAR},
      views = #{views,jdbcType=INTEGER},
      contents_text = #{contentsText,jdbcType=LONGVARCHAR},
      thumb = #{thumb,jdbcType=LONGVARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yoyling.domain.Contents">
    update contents
    set title = #{title,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      created = #{created,jdbcType=VARCHAR},
      modified = #{modified,jdbcType=VARCHAR},
      contents_order = #{contentsOrder,jdbcType=INTEGER},
      authorId = #{authorid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      contents_status = #{contentsStatus,jdbcType=VARCHAR},
      contents_password = #{contentsPassword,jdbcType=VARCHAR},
      allowComment = #{allowcomment,jdbcType=CHAR},
      views = #{views,jdbcType=INTEGER}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>