<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoyling.mapper.LogMapper">
  <resultMap id="BaseResultMap" type="com.yoyling.domain.Log">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ua" jdbcType="VARCHAR" property="ua" />
    <result column="browser_name" jdbcType="VARCHAR" property="browserName" />
    <result column="os_name" jdbcType="VARCHAR" property="osName" />
    <result column="api_path" jdbcType="VARCHAR" property="apiPath" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="referer" jdbcType="VARCHAR" property="referer" />
    <result column="access_time" jdbcType="TIMESTAMP" property="accessTime" />
    <result column="content_id" jdbcType="INTEGER" property="contentId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ua, browser_name, os_name, api_path, ip, referer, access_time, content_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yoyling.domain.Log">
    insert into log (id, ua, browser_name, 
      os_name, api_path, ip, 
      referer, access_time, content_id
      )
    values (#{id,jdbcType=INTEGER}, #{ua,jdbcType=VARCHAR}, #{browserName,jdbcType=VARCHAR}, 
      #{osName,jdbcType=VARCHAR}, #{apiPath,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR},
      #{referer,jdbcType=VARCHAR}, #{accessTime,jdbcType=TIMESTAMP}, #{contentId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yoyling.domain.Log">
    insert into log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ua != null">
        ua,
      </if>
      <if test="browserName != null">
        browser_name,
      </if>
      <if test="osName != null">
        os_name,
      </if>
      <if test="apiPath != null">
        api_path,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="referer != null">
        referer,
      </if>
      <if test="accessTime != null">
        access_time,
      </if>
      <if test="contentId != null">
        content_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ua != null">
        #{ua,jdbcType=VARCHAR},
      </if>
      <if test="browserName != null">
        #{browserName,jdbcType=VARCHAR},
      </if>
      <if test="osName != null">
        #{osName,jdbcType=VARCHAR},
      </if>
      <if test="apiPath != null">
        #{apiPath,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="referer != null">
        #{referer,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null">
        #{accessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contentId != null">
        #{contentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yoyling.domain.Log">
    update log
    <set>
      <if test="ua != null">
        ua = #{ua,jdbcType=VARCHAR},
      </if>
      <if test="browserName != null">
        browser_name = #{browserName,jdbcType=VARCHAR},
      </if>
      <if test="osName != null">
        os_name = #{osName,jdbcType=VARCHAR},
      </if>
      <if test="apiPath != null">
        api_path = #{apiPath,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="referer != null">
        referer = #{referer,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null">
        access_time = #{accessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contentId != null">
        content_id = #{contentId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yoyling.domain.Log">
    update log
    set ua = #{ua,jdbcType=VARCHAR},
      browser_name = #{browserName,jdbcType=VARCHAR},
      os_name = #{osName,jdbcType=VARCHAR},
      api_path = #{apiPath,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      referer = #{referer,jdbcType=VARCHAR},
      access_time = #{accessTime,jdbcType=TIMESTAMP},
      content_id = #{contentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>