<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title th:text="${websiteTitle} + '&nbsp;|&nbsp;EditBlog'"></title>
	<link rel="shortcut icon" th:href="${websiteIco}">
	<link rel="apple-touch-icon" th:href="${websiteIco}">

	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">

	<link rel="stylesheet" th:href="@{/plugins/editor.md/css/editormd.min.css}">

	<link rel="stylesheet" th:href="@{/plugins/selectize/css/selectize.default.css}">

	<!-- Select2 -->
	<link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
	<!-- iCheck for checkboxes and radio inputs -->
	<link rel="stylesheet" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">

	<!-- SweetAlert2 -->
	<link rel="stylesheet" th:href="@{/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">

	<!-- Theme style -->
	<link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
	<link rel="stylesheet" th:href="@{/plugins/bootstrap-datetimepicker/css/bootstrap-theme.min.css}">
	<link rel="stylesheet" th:href="@{/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}">
	<style type="text/css">
		span.addon-times {
			position: absolute;
			right: 30px;
			top: 5px;
		}
		span.addon-calendar {
			position: absolute;
			right: 10px;
			top: 5px;
		}
		.times-text {
			padding-right: 50px;
		}
		.selectize-input.items.not-full.has-options.has-items {
			padding-top: 8px;
			padding-bottom: 2px;
		}

		.selectize-input.items.not-full{
			padding-top: 9px;
			padding-bottom: 9px;
		}
	</style>
</head>
<body class="hold-transition layout-top-nav">


<!-- Site wrapper -->
<div class="wrapper">
	<!-- Navbar -->
	<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
		<div class="container-fluid pl-5 pr-5">
			<a href="admin" class="navbar-brand">
				<img th:src="${avatar}" class="brand-image img-circle elevation-3">
				<span class="brand-text font-weight-light" th:text="${websiteTitle}">websiteTitle</span>
			</a>

			<button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse order-3" id="navbarCollapse">
				<!-- Left navbar links -->
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="admin" class="nav-link">
							<i class="nav-icon fas fa-tachometer-alt"></i>
							仪表盘
						</a>
					</li>
					<li class="nav-item">
						<a href="adminBlog" class="nav-link">
							<i class="fa fa-list-alt nav-icon"></i>
							博客管理
						</a>
					</li>
					<li class="nav-item">
						<a href="adminCategory" class="nav-link">
							<i class="fa fa-bookmark nav-icon"></i>
							分类管理
						</a>
					</li>
					<li class="nav-item">
						<a href="adminTag" class="nav-link">
							<i class="fa fa-tags nav-icon"></i>
							标签管理
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- /.navbar -->

	<div class="container-fluid pl-5 pr-5 mt-3">
		<form id="blogForm" action="adminEditBlog" method="post">
			<!-- /.card-body -->
			<div class="card card-teal card-outline">
				<div class="card-header">
					<h3 class="card-title">博客信息</h3>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-prepend">
										<label for="title" class="input-group-text">标题</label>
									</div>
									<!-- /btn-group -->
									<input type="text" class="form-control" id="title" name="blogTitle"
										   placeholder="title(必填)...">
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-prepend">
										<label for="title"
											   class="input-group-text">[[${serverName}]]/{category}/</label>
									</div>
									<!-- /btn-group -->
									<input type="text" class="form-control" id="slug" required name="blogSlug"
										   placeholder="slug(必填)">
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<div class="input-group date form_datetime form-group" data-date="" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
									<div class="input-group-prepend">
									<label for="time-content" class="input-group-text">时间</label>
									</div>
									<input class="form-control times-text" size="16" type="text" id="time-content" value="" readonly>
									<span class="input-group-addon addon-times"><span class="fa fa-times"></span></span>
									<span class="input-group-addon addon-calendar"><span class="fa fa-calendar"></span></span>

								</div>
								<input type="hidden" id="dtp_input1" value="" />
							</div>
						</div>


					</div>

					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<label for="categoryId">分类</label>
<!--								<select id="categoryId" name="blogCategory" class="select2"-->
<!--										data-placeholder="选择分类(必选)...."-->
<!--										style="width: 100%;">-->
<!--									<option></option>-->
<!--									<option selected value="1">点滴记录</option>-->
<!--									<option value="2">后端</option>-->
<!--									<option value="3">全栈</option>-->
<!--									<option value="4">架构</option>-->
<!--									<option value="5">天上人间</option>-->
<!--									<option value="6">我是一只猫</option>-->
<!--								</select>-->
								<select id="categoryId" name="blogCategory" class="" data-placeholder="选择分类(必选)...." style="width: 100%;">
									<option th:each="c,cStat:${categories}" th:value="${c.cgSlug}" th:text="${c.cgName}" th:selected="${cStat==1}"></option>
								</select>
							</div>
							<!-- /.form-group -->
						</div>

						<!-- /.col -->
						<div class="col-md-6">

							<label for="tagInput">标签</label>
<!--							<input type="text" id="tagInput" name="tag" th:value="${tags}">-->
							<input type="text" id="tagInput" name="tag">
	<!--								<select id="tagId" name="blogTag" class="select2" multiple="multiple"-->
	<!--										data-placeholder="选择标签...."-->
	<!--										style="width: 100%;">-->
	<!--									<option value="1">Java</option>-->
	<!--									<option value="2">JavScript</option>-->
							<!--									<option value="3">HTML</option>-->
	<!--									<option value="4">Spring</option>-->
	<!--									<option value="5">SpringBoot</option>-->
	<!--									<option value="6">我的笔记</option>-->
	<!--								</select>-->

							<!-- /.form-group -->
						</div>
						<!-- /.col -->

						<div class="col-md-4">
							<div class="form-group">
								<label for="categoryId">文章缩略图直链</label>
								<input type="text" class="form-control" id="blogThumb" name="blogThumb"
									   placeholder="建议存储 OSS/JsDelivr....">
							</div>
							<!-- /.form-group -->
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="description">博客描述</label>
								<textarea class="form-control" rows="3" id="description" name="blogDescription"
										  placeholder="主页显示的简要（必填）..."
										  maxlength="" style="resize:none"></textarea>
							</div>
						</div>
					</div>

					<div class="row">

						<div class="col-md-3">
							<button id="publishBtn" type="submit" class="btn btn-sm btn-success float-left">
								<i class="fa fa-edit"></i>
								发布
							</button>
							<button type="button" class="btn btn-sm btn-info float-left ml-1" data-toggle="modal"
									data-target="#addTagModal">
								<i class="fas fa fa-plus"></i>
								标签
							</button>
							<button type="button" class="btn btn-sm btn-primary float-left ml-1" data-toggle="modal"
									data-target="#addCategoryModal">
								<i class="fa fa-plus"></i>
								分类
							</button>
						</div>

						<div class="col-md-3">
							<!-- radio -->
							<div class="form-group clearfix">
								<div class="icheck-default d-inline-block">
									<input type="radio" id="original" name="blogType" value="原创" checked="checked">
									<label for="original">原创</label>
								</div>
								<div class="icheck-default d-inline-block ml-3">
									<input type="radio" id="reprinted" name="blogType" value="转载">
									<label for="reprinted">转载</label>
								</div>
								<div class="icheck-default d-inline-block ml-3">
									<input type="radio" id="translated" name="blogType" value="翻译">
									<label for="translated">翻译</label>
								</div>
							</div>
						</div>

						<div class="col-md-1">
							<div class="icheck-success float-left">
								<input type="checkbox" id="blogContentOrder" name="blogContentOrder">
								<label for="blogContentOrder">推荐</label>
							</div>
						</div>

						<div class="col-md-2">
							<div class="form-group">
								<select id="contentsstatus" name="blogContentStatus" class="select2"
										style="width: 100%;">
									<option selected value="1">公开</option>
									<option value="2">隐藏</option>
									<option value="3">加密</option>
								</select>
							</div>
						</div>

						<div class="col-md-1" id="contentspassword-div" style="display: none;">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-prepend">
										<label for="title" class="input-group-text">密码</label>
									</div>
									<!-- /btn-group -->
									<input type="text" name="blogPassword" class="form-control" id="contentspassword"
										   maxlength="30">
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- /.row -->
			</div>

			<!-- /.card-body -->
			<div id="editormd" class="form-group mb-3">
				<textarea name="content"></textarea>
			</div>

			<input type="hidden" id="isPublish" name="isPublish">
		</form>
	</div>
</div>
<!-- ./wrapper -->

<div class="modal fade" id="addTagModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">新增标签</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="text" id="tagInput2" name="tag" value="awesome,neat">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
				<button id="addTagBtn" type="button" class="btn btn-success">新增</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addCategoryModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">新增标签</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="text" id="categoryInput" name="category" value="前端,后台">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
				<button id="addCategoryBtn" type="button" class="btn btn-success">新增</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/js/adminlte.min.js}"></script>

<!-- SweetAlert2 -->
<script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>

<script th:src="@{/plugins/editor.md/js/editormd.min.js}"></script>

<!-- Select2 -->
<script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>

<script th:src="@{/plugins/selectize/js/standalone/selectize.min.js}"></script>

<script th:src="@{/js/edit.js}"></script>
<script th:src="@{/js/categoryinput.init.js}"></script>
<!--<script th:src="@{/js/taginput.init.js}"></script>-->

<script th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js}"></script>

<script>
	$('#contentsstatus').change(function () {
		//判断是否选取prompt属性，无返回值；
		if ($(this).val() === '3') {
			//赋值
			$('#contentspassword-div').attr('style', 'display:contents;');

		} else if ($(this).val() === '2') {
			//赋值
			$('#contentspassword-div').attr('style', 'display:none;');
		} else {
			//赋值
			$('#contentspassword-div').attr('style', 'display:none;');
		}
	});

</script>

<script type="text/javascript">
	$('.form_datetime').datetimepicker({
		language : 'zh-CN',
		format : 'yyyy-mm-dd hh:ii:ss',
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
		showMeridian: 1
	});
	$('.today').click();
</script>
<script type="text/javascript">
	/**
	 * 初始化标签输入框
	 */
	var $tag = $('#tagInput').selectize({
		valueField: 'name',
		labelField: 'name',
		searchField: 'name',
		create: true,
		// render: {
		// 	item: function (item, escape) {
		// 		return '<div>' +item.name +
		// 			'</div>';
		// 	},
		// 	option: function(item, escape) {
		// 		console.log(123,item, escape)
		// 		return '<div>' +item.name +
		// 			'</div>';
		// 	},
		// },
		load: function(query, callback) {
			if (!query.length) return callback();
			this.addOption({name: 345})
			$.ajax({
				url: 'fuzzyQueryTag',
				type: 'GET',
				data:{tagName:query},
				error: function() {
					callback();
				},
				success: function(res) {
					// callback(res.tags.slice(0, 10));
					var _this = $tag[0].selectize
					res.tags.slice(0, 10).forEach(function(item) {
						_this.addOption({name: item.name})
					})
				}
			});
		}
	});
	$tag[0].selectize.addOption({name: 123})

	$('#tagInput2').selectize({
		create: true,
		createOnBlur: true,
		maxItems: 10
	});

	$('#categoryId').select2({
		minimumResultsForSearch: -1
	});

	/**
	 * 新增标签按钮事件
	 */
	$('#addTagBtn').on('click', function () {
		alert($('#tagInput').val().split(','));
	});
</script>
</body>
</html>