.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cd-top.cd-is-visible {
	/* the button becomes visible */
	z-index: 9999999;
	visibility: visible;
	opacity: 1;
}
.cd-top.cd-fade-out {
	/* 如果用户继续向下滚动,这个按钮的透明度会变得更低 */
	opacity: .5;
}
.no-touch .cd-top:hover {
	background-color: #e86256;
	opacity: 1;
}
@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}
@media only screen and (min-width: 1024px) {
	.cd-top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}
}